.navbar {
  background-color: #202020;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.logout {
  background-color: #4f46e5;
  border: 0px;
  font-size: 7px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  width: 50px;
}
.link {
  display: flex;
  flex-direction: row;
}
.text {
  margin-right: 10px;
  font-size: 20px;
  color: white;
}
